html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: white;
}
#withdrawal{
    height: 100%;
}
.withdrawal {
    font-size: 16px;
    height: 100%;
    position: relative;
}
.current-balance{
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -2px;
    background: url("../../../assets/images/bg_img@2x.png") no-repeat center;
    background-size: 100% 100%;
}
.current-device{
    width: 100%;
    color: white;
    span{
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    span:last-child{
        font-size: 1.2rem;
        margin-top: 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    span:last-child i{
        font-size: .8rem;
    }
    i{
        font-style: normal;
        margin-left: 10px;
    }
}

.charts{
    height: 14rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .echarts-left{
        width: 60%;
        height: 100%;
    }
    .echarts-right{
        margin-right: 2rem;
        .status{
            margin-bottom: 10px;
            .title{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                span{
                    font-size: .8rem;
                    font-weight: 500;
                }
            }
            b{
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 10px;
            }
            .success{
                background: #2a7ffb;
            }
            .error{
                background: #fece00;
            }
        }
    }
}
.charts i{
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    top: -8px;
    left: calc(50% - 4px);
}
.device-info{
    padding: 15px 15px;
}
.title{
    font-weight: 600;
}
.panel-info{
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: #ffece9;
}
.list{
    height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.list span{
    width: 4rem;
    font-size: .8rem;
}
.list div{
    width: calc(100% - 4rem);
    font-size: .8rem;
}
