<div class="withdrawal">
    <div class="withdrawal-title">
        <div class="current-balance">
            <div class="current-device">
                <span>当前拥有设备</span>
                <span>482 <i>(台)</i></span>
            </div>
        </div>
        <div class="charts">
            <i></i>
        </div>
        <div class="device-info">
            <div class="title">异常设备</div>
            <div class="panel-info">
                <div class="list">
                    <span>设备编号</span>
                    <div>FRUIO-7890</div>
                </div>
                <div class="list">
                    <span>管理员</span>
                    <div>13546598564</div>
                </div>
                <div class="list">
                    <span>地址</span>
                    <div>陕西省榆林市佳县木头渔夫的故事地方单方事故</div>
                </div>
                <div class="list">
                    <span>异常原因</span>
                    <div>线路故障!</div>
                </div>
            </div>
            <div class="panel-info">
                <div class="list">
                    <span>设备编号</span>
                    <div>FRUIO-7890</div>
                </div>
                <div class="list">
                    <span>管理员</span>
                    <div>13546598564</div>
                </div>
                <div class="list">
                    <span>地址</span>
                    <div>陕西省榆林市佳县木头渔夫的故事地方单方事故</div>
                </div>
                <div class="list">
                    <span>异常原因</span>
                    <div>线路故障!</div>
                </div>
            </div>
            <div class="panel-info">
                <div class="list">
                    <span>设备编号</span>
                    <div>FRUIO-7890</div>
                </div>
                <div class="list">
                    <span>管理员</span>
                    <div>13546598564</div>
                </div>
                <div class="list">
                    <span>地址</span>
                    <div>陕西省榆林市佳县木头渔夫的故事地方单方事故</div>
                </div>
                <div class="list">
                    <span>异常原因</span>
                    <div>线路故障!</div>
                </div>
            </div>
        </div>
    </div>
</div>
