<div class="record">
    <div class="record-item" *ngFor="let his of withDrawHistory; let i=index;">
        <div class="record-status">
            <span class="apply-for"
                  [ngClass]="{'refuse-status': his.status === 3, 'success-status': his.status === 2}">
                {{his.status === 1? '已申请提现':his.status === 3 ?'提现被拒绝':'提现成功'}}
            </span>
            <span class="amount-money"
                  [ngClass]="{'success-status': his.status === 2}">
                <i *ngIf="his.status === 2">+</i>￥{{his.amount}}
            </span>
        </div>
        <div class="record-status">
            <span class="name">{{his.bankAccount}}</span>
            <span class="phone">{{his.bankPhone}}</span>
            <span class="card">{{his.idCard | differentPipe}}</span>
        </div>
        <div class="record-status open-bank" *ngIf=" his.status !== 3">
            <span>{{his.bankName}}</span>
            <span>{{his.bankCard | differentPipe}}</span>
        </div>

        <div class="record-status open-bank" *ngIf=" his.status === 3">
            <span class="remarks" >理由：{{his.remarks}}</span>
        </div>
    </div>
</div>
