    <div class="record">
        <div class="record-item">
            <div class="record-status">
                <span class="apply-for">已申请提现</span>
                <span class="amount-money">￥2800.00</span>
            </div>
            <div class="record-status">
                <span class="name">张毅</span>
                <span class="phone">15856896325</span>
                <span class="card">632235689*****3333</span>
            </div>
            <div class="record-status open-bank">
                <span>农业银行</span>
                <span>储蓄卡</span>
            </div>
        </div>
        <div class="record-item">
            <div class="record-status">
                <span class="apply-for">已申请提现</span>
                <span class="amount-money">￥2800.00</span>
            </div>
            <div class="record-status">
                <span class="name">张毅</span>
                <span class="phone">15856896325</span>
                <span class="card">632235689*****3333</span>
            </div>
            <div class="record-status open-bank">
                <span>农业银行</span>
                <span>储蓄卡</span>
            </div>
        </div>
        <div class="record-item">
            <div class="record-status">
                <span class="apply-for">已申请提现</span>
                <span class="amount-money">￥2800.00</span>
            </div>
            <div class="record-status">
                <span class="name">张毅</span>
                <span class="phone">15856896325</span>
                <span class="card">632235689*****3333</span>
            </div>
            <div class="record-status open-bank">
                <span>农业银行</span>
                <span>储蓄卡</span>
            </div>
        </div>
    </div>
<style lang="scss">


</style>
