.pay-status {
    height: 100%;
    overflow: hidden;
    display: flex;
    position: fixed;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    z-index: 9999999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .image {
        img {
            width: 30vw;
        }
    }
    .desc {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .pay-status-desc {
            color: black;
            font-size: 1rem;
            font-weight: 600;
            margin: 2px 2px;
        }
        .pay-money {
            color: black;
            font-size: 1.5rem;
            font-weight: 600;
            margin: 2px 2px;
            display: inline-flex;
            align-items: flex-end;
            margin-bottom: 1rem;
            i {
                color: black;
                font-size: .8rem;
                font-style: normal;
            }
        }
        span {
            display: inline-flex;
            font-size: .9rem;
            color: #a6a6a6;
            i{
                font-style: normal;
                color: red;
            }
        }
    }
    .pay-btn {
        width: calc(100% - 30px);
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        button {
            border: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            border-radius: 6px;
            box-shadow: 0 3px 14px -10px #000;
            outline: none;
            background-color: #3284fc;
        }
        button:disabled {
            background: #bbbbbb;
        }
    }
}
