<div class="pay-status">
    <div class="image">
        <img src="../../../assets/images/icon_complete@2x.png" alt="成功">
    </div>
    <div class="desc">
        <span class="pay-status-desc">支付成功!</span>
        <!--<span class="pay-money"><i>￥</i>{{payStatus.money}}</span>-->
        <span>采购申请已发送至<!--{{payStatus.consignee}}--></span>
        <span> 24小时内将自动发货</span>
        <span>急电请拨打电话：<i>400-800-8866</i></span>
    </div>
    <div class="pay-btn">
        <button (click)="gohome()">返回首页</button>
    </div>
</div>
