body {
    background: #ffffff;
}

.record {
    padding: 5px 15px;
}

.record-item {
    padding: 8px 0;
    border-bottom: 1px solid #f0eff5;
}

.record-status {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 0;
    .name{
        margin-right: 5px;
    }
    .apply-for {
        height: 1.3rem;
        color: #fe9b0c;
        padding: 0 4px;
        font-size: .8rem;
        border: 1px solid #fe9b0c;
        border-radius: 4px;
        line-height: 1.3rem;
    }
    .amount-money {
        font-size: 1rem;
        color: #c9c9cc;
        i{
            font-style: normal;
            font-weight: 600;
        }
    }
    .success-status{
        height: 1.3rem;
        color: black;
        font-size: 1rem;
        border-radius: 4px;
        line-height: 1.3rem;
        border: 0;
        padding-left: 0;
        font-weight: 600;
    }
    .refuse-status{
        height: 1.3rem;
        color: #fe3c2e;
        padding: 0 4px;
        font-size: .8rem;
        border: 1px solid #fe3c2e;
        border-radius: 4px;
        line-height: 1.3rem;
    }
}

.phone {
    font-size: .8rem;
}

.card {
    font-size: .8rem;
}

.open-bank {
    justify-content: flex-start;
    span {
        margin-right: 1rem;
        font-size: .8rem;
        color: #c9c9cc;
    }
    .remarks{
        color: #fe3c2e;
        margin-right: 1rem;
        font-size: .8rem;
    }
}
