.home {
    font-size: 16px;
    height: 100%;
    padding: 15px 15px;
    background: #3284fc;
}
.home-title{
    color: white;
}

.title-name{
    font-size: 1.2rem;
}
.home-title span{
    display: inline-flex;
    margin-top: .8rem;
}
.home-content{
    margin-top: 1.5rem;
}
.content-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 15px -8px;
    border-radius: 8px;
    background: white;
}
.content-list > img{
    width: 5rem;
}
.content-list span{
    color: #3185fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 600;
}
.icon-enter{
    width: 1.2rem;
    margin-left: .5rem;
    cursor: pointer;
}

.keep-out {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(23, 21, 45, .5);
    .loding-ani {
        display: inline-block;
        width: 50rem;
        height: 10rem;
        text-align: center;
        line-height: 3;
        p {
            font-size: 1.5rem;
            color: #4cf52f;
        }
        .loading {
            display: inline-block;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 5px solid #BEBEBE;
            border-left: 5px solid #4cf52f;
            animation: load 1s linear infinite;
            -moz-animation: load 1s linear infinite;
            -webkit-animation: load 1s linear infinite;
            -o-animation: load 1s linear infinite;
        }
        @-webkit-keyframes load {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }
        @-moz-keyframes load {
            from {
                -moz-transform: rotate(0deg);
            }
            to {
                -moz-transform: rotate(360deg);
            }
        }
        @-o-keyframes load {
            from {
                -o-transform: rotate(0deg);
            }
            to {
                -o-transform: rotate(360deg);
            }
        }
    }
}
