html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1.5rem;
    background: #f1f1f4;
}

#withdrawal {
    height: 100%;
}

.withdrawal {
    font-size: 16px;
    height: 100%;
    position: relative;
}

.title {
    padding: 0 15px;
}

.money {
    width: 100%;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    span:last-child {
        font-size: .8rem;
    }
}

.money-num {
    font-size: 1.2rem;
}

.current-balance {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../../../assets/images/bg_img@2x.png") no-repeat center;
    background-size: 100% 100%;
}

.title {
    width: 100%;
    color: white;
    span {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 1rem;
            margin-top: 1px;
        }
    }
}

.cash-in {
    padding: 15px 15px;
    background: white;
}

.cash-status {
    font-size: .8rem;
    margin: 10px 0;
    padding-left: 5px;
    font-weight: 600;
}

.cash-num {
    background: #f1f1f4;
    padding: 12px 15px 12px 10px;
    border-radius: 10px;
    color: red;
}

.withdrawal-content {
    font-size: 16px;
    position: relative;
    overflow: auto;
    padding: 0 15px 74px;
}

.content-title {
    height: 42px;
    line-height: 42px;
    font-size: .9rem;
    font-weight: 600;
}

.form-item {
    height: 42px;
    border-bottom: 1px solid #f1f1f4;
    line-height: 42px;
    label {
        display: inline-flex;
        width: 6rem;
        font-size: .9rem;
    }
    input[type=text],
    input[type=number] {
        width: calc(100% - 7rem);
        height: calc(100% - 6px);
        border: none;
        outline: none;
        font-size: .8rem;
    }
    select{
        width: calc(100% - 6rem);
        height: calc(100% - 6px);
        border-radius: .25rem;
        border: 1px solid white;
        font-size: .9375rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: .4375rem 1.125rem;
        color: #192038;
        outline: none;
        background: white;
    }
}

.sure-btn {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: white;
    button {
        border: 0;
        width: 85%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border-radius: 12px;
        box-shadow: 0 3px 14px -4px #000;
        outline: none;
        background-color: #3284fc;
    }
    button:disabled {
        background: #bbbbbb;
    }
}
