<div class="withdrawal">
    <div class="withdrawal-title">
        <div class="current-balance">
            <div class="title">
                <div class="money">
                    <span class="money-num">采购订单</span>
                    <span (click)="withdrawalsRecord()">
                        采购历史
                        <img src="../../../assets/images/icon_enterWhite.svg" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="withdrawal-content">
        <!--<div class="content-title">-->
            <!--采购物品-->
        <!--</div>-->
        <div class="form-item">
            <label>申请物品</label>
            <select  [(ngModel)]="goodId" (ngModelChange)="changeForm()">
                <option value="" disabled>请选择</option>
                <option *ngFor="let good of goodsList" [value]="good.id">
                    {{good.name}}
                </option>
            </select>
        </div>
        <div class="form-item">
            <label>申请数量(卷)</label>
            <input type="number"
                   [(ngModel)]="count"
                   onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"
                   (ngModelChange)="changeForm()"
                   (blur)="blurIn()"
                   placeholder="请输入申请数量">
        </div>
        <div class="form-item">
            <label>收货人</label>
            <input type="text"
                   [(ngModel)]="consignee"
                   (ngModelChange)="changeForm()"
                   (blur)="blurIn()"
                   placeholder="请输入收货人">
        </div>
        <div class="form-item">
            <label>收货人电话</label>
            <input type="text"
                   [(ngModel)]="signeeMobile"
                   (ngModelChange)="changeForm()"
                   (blur)="blurIn()"
                   placeholder="请输入收货人电话">
        </div>
        <div class="form-item">
            <label>收货地址</label>
            <input type="text"
                   [(ngModel)]="address"
                   (ngModelChange)="changeForm()"
                   (blur)="blurIn()"
                   placeholder="请输入收货地址">
        </div>
        <div class="form-item">
            <label>备注</label>
            <input type="text"
                   [(ngModel)]="remark"
                   (ngModelChange)="changeForm()"
                   (blur)="blurIn()"
                   placeholder="请输入备注">
        </div>
    </div>
    <div class="sure-btn">
        <button (click)="referTo()" [disabled]="payBtn">提 交</button>
    </div>
</div>
