<div class="withdrawal">
    <div class="withdrawal-title">
        <div class="current-balance">
            <div class="title">
                <div class="current-money">当前余额</div>
                <div class="money">
                    <span class="money-num">采购订单</span>
                    <span>
                        提现记录
                        <img src="../../../assets/images/icon_enterWhite.svg" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="withdrawal-content">
        <div class="content-title">
            申请提现
        </div>
        <div class="form-item">
            <label>申请金额</label>
            <input type="text" placeholder="请输入整数金额">
        </div>
        <div class="form-item">
            <label>提现人</label>
            <input type="text" placeholder="请输入提现人姓名">
        </div>
        <div class="form-item">
            <label>手机号</label>
            <input type="text" placeholder="请输入相应手机号">
        </div>
        <div class="form-item">
            <label>身份证号</label>
            <input type="text" placeholder="请输入相应身份证号">
        </div>
        <div class="form-item">
            <label>开户行</label>
            <input type="text" placeholder="请输入相应开户行">
        </div>
        <div class="form-item">
            <label>银行卡号</label>
            <input type="text" placeholder="请输入相应银行卡号">
        </div>
    </div>
    <div class="sure-btn">
        <button>提 交</button>
    </div>
</div>
